{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} - HeliumOS{% endblock %}</title>
    <link rel="icon" type="image/svg" href="{% static 'www/images/logo-color.svg' %}">
    <link href="{% static 'www/styles.css' %}" rel="stylesheet">
</head>
<body class="flex flex-col bg-base-100">
<nav class="sticky top-0 flex justify-center bg-base-100 z-30">
    <div class="navbar max-w-screen-xl">
        <div class="navbar-start">
            <div class="dropdown">
                <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M4 6h16M4 12h8m-8 6h16"/>
                    </svg>
                </div>
                <ul tabindex="0"
                    class="menu menu-lg dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
                    <li><a class="btn-disabled">Blog</a></li>
                    <li>
                        <a class="btn-disabled">About</a>
                        <ul class="p-2">
                            <li><a class="btn-disabled">FAQ</a></li>
                            <li><a href="https://codeberg.org/HeliumOS">Source Code</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="btn-disabled">Help</a>
                        <ul class="p-2">
                            <li><a class="btn-disabled">How-To</a></li>
                            <li><a href="https://heliumos.org/support">Chat Support</a></li>
                            <li><a href="https://bugs.heliumos.org/">Bug Report</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <a href="{% url 'index' %}" class="flex-0 btn btn-lg btn-ghost gap-1 px-2 md:gap-2">
                <img src="{% static 'www/images/logo-color.svg' %}" alt="HeliumOS Logo" class="w-12 h-12"/>
                <span class="text-2xl  font-title">HeliumOS</span>
            </a>
        </div>
        <div class="navbar-center hidden lg:flex">
            <ul class="menu menu-lg menu-horizontal px-1">
                <li><a class="btn-disabled">Blog</a></li>
                <li>
                    <details>
                        <summary>About</summary>
                        <ul class="p-2">
                            <li><a class="btn-disabled">FAQ</a></li>
                            <li><a href="https://codeberg.org/HeliumOS">Source Code</a></li>
                        </ul>
                    </details>
                </li>
                <li>
                    <details>
                        <summary>Help</summary>
                        <ul class="p-2 w-48">
                            <li><a class="btn-disabled">How-To</a></li>
                            <li><a href="https://heliumos.org/support">Chat Support</a></li>
                            <li><a href="https://bugs.heliumos.org/">Bug Report</a></li>
                        </ul>
                    </details>
                </li>
            </ul>
        </div>
        <div class="navbar-end">
            <a href="{% url 'download' %}" class="btn btn-accent text-base-100 ml-8">Download</a>
        </div>
    </div>
</nav>
<main class="z-20">
    {% block main %}{% endblock %}
</main>
<footer class="footer p-10 bg-base-200 text-base-content z-10">
    <aside class="flex flex-col items-center">
        <img src="{% static 'www/images/logo-color.svg' %}" alt="HeliumOS Logo" class="w-12 h-12"/>
        <p>HeliumOS</p>
    </aside>
    <nav>
        <header class="footer-title">HeliumOS</header>
        <a href="{% url 'index' %}" class="link link-hover">Home</a>
        <a href="{% url 'download' %}" class="link link-hover">Download</a>
        <a class="{% comment %}link link-hover{% endcomment %}">Blog</a>
    </nav>
    <nav>
        <header class="footer-title">About</header>
        <a class="{% comment %}link link-hover{% endcomment %}">FAQ</a>
        <a href="https://codeberg.org/HeliumOS" class="link link-hover">Source Code</a>
    </nav>
    <nav>
        <header class="footer-title">Help</header>
        <a class="{% comment %}link link-hover{% endcomment %}">How-To</a>
        <a href="https://heliumos.org/support" class="link link-hover">Chat Support</a>
        <a href="https://bugs.heliumos.org/" class="link link-hover">Bug Report</a>
    </nav>
</footer>
</body>
</html>
