{% extends 'www/base.html' %}
{% load static %}

{% block title %}Documentation{{ block.super }}{% endblock %}

{% block main %}
    <section class="bg-base-200 p-20 flex justify-center">
        <div class="text-center prose">
            <h1>Documentation</h1>
            <p class="text-left">
                To improve this documentation visit <a href="https://codeberg.org/HeliumOS/website" class="link">https://codeberg.org/HeliumOS/website</a>
            </p>
        </div>
    </section>
    <section class="bg-base-100 p-20 flex justify-center">
        <div class="text-left prose sm:min-w-1/2 flex flex-grow flex-col gap-4">
            <h2 id="faq" class="text-center">FAQ</h2>
            {% for qa in qas %}
            <div class="collapse collapse-arrow bg-base-200">
                <input type="checkbox"/>
                <div class="collapse-title text-xl font-medium">
                    {{ qa.question }}
                </div>
                <div class="collapse-content">
                    <p>
                        {{ qa.answer | safe }}
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
   <section class="bg-base-200 p-20 flex justify-center">
        <div class="text-left prose sm:min-w-1/2 flex flex-grow flex-col gap-4">
            <h2 id="how-to" class="text-center">How-To</h2>
            {% for howto in howtos %}
            <div class="collapse collapse-arrow bg-base-200">
                <input type="checkbox"/>
                <div class="collapse-title text-xl font-medium">
                    {{ howto.task }}
                </div>
                <div class="collapse-content">
                    <p>
                        {{ howto.answer | safe }}
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </section> 
    <section class="bg-base-100 p-20 flex justify-center">
        <div class="text-center prose">
            <h2>Learn More</h2>
            <p class="text-left">
                Join the official HeliumOS chat at <a href="https://heliumos.org/support" class="link">https://heliumos.org/support</a>
                to learn more.
            </p>
        </div>
    </section>
{% endblock %}
