{% extends 'www/base.html' %}
{% load static %}

{% block title %}Documentation{{ block.super }}{% endblock %}

{% block main %}
    <section class="bg-base-200 p-20 flex justify-center">
        <div class="text-center prose">
            <h1>Documentation</h1>
            <p class="text-left">
                To improve this documentation visit <a href="https://codeberg.org/HeliumOS/website" class="link">https://codeberg.org/HeliumOS/website</a>
            </p>
        </div>
    </section>
    <section class="bg-base-100 p-20 flex justify-center">
        <div class="text-left prose sm:min-w-1/2 flex flex-grow flex-col gap-4">
            <h2 id="faq" class="text-center">FAQ</h2>
            <div class="collapse collapse-arrow bg-base-200">
                <input type="checkbox"/>
                <div class="collapse-title text-xl font-medium">
                    Why is HeliumOS "Atomic"?
                </div>
                <div class="collapse-content">
                    <p>
                        The most reliable operating systems use an atomic system for core software distribution.
                        In the case of HeliumOS, new updates are distributed via OCI-Compatible
                        <a href="https://containers.github.io/bootc/" class="link">BootC</a> images.
                        Regardless of power failures or similar interruptions, your system will never be in a broken
                        partially-updated state.
                    </p>
                </div>
            </div>
            <div class="collapse collapse-arrow bg-base-200">
                <input type="checkbox"/>
                <div class="collapse-title text-xl font-medium">
                    Can I run Windows applications and games?
                </div>
                <div class="collapse-content">
                    <p>
                        Although much software that targets Windows does not work on Linux-based operating systems
                        such as HeliumOS, many applications and games work perfectly or to a usable degree.
                        <a href="https://usebottles.com/" class="link">Bottles</a> can be used to run many applications
                        with minimal change to performance resource requirements.
                        Approximately 80% of games on the popular <a href="https://store.steampowered.com/">Steam</a>
                        gaming platform work using the official Proton/Steam Play Compatibility mode.
                        As a last resort, those with sufficiently powerful hardware can run the entire Windows
                        operating system within a virtual machine using
                        <a href="https://apps.gnome.org/Boxes/" class="link">Boxes</a>.
                        Bottles, Steam, and Boxes are all available for installation using the included Software Center.

                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-base-200 p-20 flex justify-center">
        <div class="text-center prose">
            <h2 id="how-to">How-To</h2>
            <p class="text-left">
                Coming Soon!
            </p>
        </div>
    </section>
    <section class="bg-base-100 p-20 flex justify-center">
        <div class="text-center prose">
            <h2>Learn More</h2>
            <p class="text-left">
                Join the official HeliumOS chat at <a href="https://heliumos.org/support" class="link">https://heliumos.org/support</a>
                to learn more.
            </p>
        </div>
    </section>
{% endblock %}
