{% extends 'www/base.html' %}
{% load static %}

{% block title %}Home{{ block.super }}{% endblock %}

{% block main %}
    <header class="bg-base-200 w-screen flex justify-center">
        <div class="hero max-w-screen-xl">
            <div class="hero-content flex-col lg:flex-row-reverse p-14 sm:p-20">
                <img src="{% static 'www/images/mockup-laptop-color.svg' %}"
                     class="max-w-48 sm:max-w-sm w-auto rounded-lg m-10 sm:m-20"/>
                <div>
                    <h1 class="text-5xl font-bold">HeliumOS 1.0</h1>
                    <p class="py-6">A stable, lightweight, and easy-to-use operating system for your devices.</p>
                    <button class="btn btn-primary text-base-100">Get HeliumOS</button>
                </div>
            </div>
        </div>
    </header>
    <section class="bg-base-100 w-screen flex flex-col items-center">
        <span class="prose p-8"><h2>Open Source Software</h2></span>
        <div class="flex flex-col lg:flex-row gap-8 p-8">
            <div class="card w-96 bg-base-100 shadow-xl">
                <figure><img src="{% static 'www/images/onlyoffice-screenshot.webp' %}"
                             alt="ONLYOFFICE Desktop Editors"/></figure>
                <div class="card-body">
                    <h2 class="card-title">Be Productive</h2>
                    <p>Create Microsoft Office compatible Documents, Spreadsheets, and more with <strong>ONLYOFFICE
                        Desktop Editors</strong></p>
                </div>
            </div>
            <div class="card w-96 bg-base-100 shadow-xl">
                <figure><img src="{% static 'www/images/brave-browser-screenshot.webp' %}" alt="Brave Browser"/>
                </figure>
                <div class="card-body">
                    <h2 class="card-title">Explore</h2>
                    <p>Browse the web privately and ad-free with <strong>Brave Browser</strong></p>
                </div>
            </div>
            <div class="card w-96 bg-base-100 shadow-xl">
                <figure><img src="{% static 'www/images/vlc-screenshot.webp' %}" alt="VLC Media Player"/></figure>
                <div class="card-body">
                    <h2 class="card-title">Watch</h2>
                    <p>Enjoy your movies and videos with <br/> <strong>VLC Media Player</strong></p>
                </div>
            </div>
        </div>
        <div class="flex flex-col lg:flex-row gap-8 p-8">
            <div class="card w-96 bg-base-100 shadow-xl">
                <figure><img src="{% static 'www/images/synaptic-screenshot.webp' %}" alt="Synaptic"/></figure>
                <div class="card-body">
                    <h2 class="card-title">System Software</h2>
                    <p>Modify the system's installed Debian packages with <strong>Synaptic</strong></p>
                </div>
            </div>
            <div class="card w-96 bg-base-100 shadow-xl">
                <figure><img src="{% static 'www/images/discover-screenshot.webp' %}" alt="Plasma Discover"/></figure>
                <div class="card-body">
                    <h2 class="card-title">Apps</h2>
                    <p>Install sandboxed desktop applications with <strong>Discover</strong></p>
                </div>
            </div>
            <div class="card w-96 bg-base-100 shadow-xl">
                <figure><img src="{% static 'www/images/distrobox-screenshot.webp' %}" alt="Distrobox"/></figure>
                <div class="card-body">
                    <h2 class="card-title">Containers</h2>
                    <p>Use tools from a variety of containerized Linux Distributions with <strong>Distrobox</strong></p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}