{% extends 'www/base.html' %}
{% load static %}

{% block title %}HeliumOS{% endblock %}

{% block main %}
    <header class="bg-base-200 w-full flex justify-center">
        <div class="hero max-w-screen-xl">
            <div class="hero-content flex-col lg:flex-row-reverse p-14 sm:p-20">
                <img src="{% static 'www/images/mockup-laptop-color.svg' %}" alt="Laptop Mockup"
                     class="max-w-48 sm:max-w-sm w-auto rounded-lg m-10 sm:m-20"/>
                <div>
                    <h1 class="text-5xl font-bold">HeliumOS 10</h1>
                    <p class="py-6">An atomic desktop operating system for your devices.</p>
                    <a href="{% url 'download'  %}" class="btn btn-primary text-base-100">Get HeliumOS</a>
                </div>
            </div>
        </div>
    </header>
    <section class="bg-base-100 w-full flex flex-col items-center mt-16 mb-32">
        <div class="max-w-screen-xl">
            <span class="prose p-8 text-center"><h2>Open Source Software</h2></span>
            <div class="flex flex-col lg:flex-row gap-8 sm:p-8">
                <div class="card w-96 bg-base-100 shadow-xl">
                    <figure><img src="{% static 'www/images/plasma-discover.webp' %}" alt="Software Center"/></figure>
                    <div class="card-body">
                        <h2 class="card-title">Install Apps!</h2>
                        <p>Discover thousands of Linux applications using the <strong>Software Center</strong></p>
                    </div>
                </div>
                <div class="card w-96 bg-base-100 shadow-xl">
                    <figure><img src="{% static 'www/images/kde-plasma.webp' %}" alt="KDE Plasma Desktop"/>
                    </figure>
                    <div class="card-body">
                        <h2 class="card-title">Work and Play! </h2>
                        <p>Be productive and have fun with the <strong>KDE Plasma Desktop</strong></p>
                    </div>
                </div>
                <div class="card w-96 bg-base-100 shadow-xl">
                    <figure><img src="{% static 'www/images/distrobox.webp' %}" alt="Distrobox"/></figure>
                    <div class="card-body">
                        <h2 class="card-title">Develop!</h2>
                        <p>Use tools from a variety of containerized Linux Distributions with <strong>Distrobox</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
